<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
    <title>{{ site.title }}</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1><a href="/">{{ site.title }}</a></h1>
        <h2>{{ site.description }}</h2>
        <section id="tor-url">
        * This site is also available as a Tor hidden service: <a href="http://graffenteqk3od63.onion">http://graffenteqk3od63.onion</a>
        (requires a <a href="https://www.torproject.org/download">Tor-enabled browser</a>) <br />
        New <a href="https://blog.torproject.org/tors-fall-harvest-next-generation-onion-services">v3 HS</a> address: <a href="http://k56fvg3kwldqyx3gv2zgumst7qimiql2fg55l7hhoshquhx5raeiibid.onion">k56fvg3kwldqyx3gv2zgumst7qimiql2fg55l7hhoshquhx5raeiibid.onion</a>
      </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
